:root {
  --bg-color-main: #FFFFFF;
  --bg-color-secondary: #A8A99E;

  --bg-color-header: #736F60;
  --bg-color-border: #33A4A6;
  --bg-color-footer: #736F60;

  --txt-color: #000000;
}

* {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-color-main);
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
  padding-bottom: 5px;
  background-color: var(--bg-color-secondary);
}

footer {
  position: absolute;
}

h1 {
  outline: var(--bg-color-border) solid 5px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 600px;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  color: var(--bg-color-header);
}

h2 {
  font-size: 20px;
}

nav {
  padding-bottom: 20px;
  background-color: var(--bg-color-secondary);
}

body {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  overflow: none;
}

button {
  padding: 5px;
  background-color: var(--bg-color-main);
  border-style: solid;
  border-color: var(--bg-color-border);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

button:hover {
  background-color: var(--bg-color-border);
  color: var(--bg-color-main);
  font-size: 14px;
}

.container {
  padding-top: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.col {
  padding: 20px;
  border: var(--bg-color-secondary) 1px solid;
  border-radius: 2px;
}

/* Base */
.col:nth-child(odd) {
  outline: var(--bg-color-border) solid 3px;
}

.col p {
  color: var(--txt-color);
  margin: 0px;
}

.media {
  margin: 20px;
  border: var(--bg-color-border) 5px;
}

/* Max Width */
@media screen and (max-width: 600px) {
  .row {
    grid-template-columns: 1fr;
  }
}

/* Ranged */
@media screen and (max-width: 800px) and (min-width: 601px) {
  .row {
    grid-template-columns: repeat(2, 2fr);
  }
}

/* Min Width */
@media screen and (min-width: 801px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }
}