* {
	margin: 0px;
	padding: 0px;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
 }
 header {
    background-color: #A8A99E
 }
 h1 {
    outline: #33A4A6 solid 5px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 600px;
    margin: auto;  
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    color: #736F60;
 }
 body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image: url("../img/bg-tile.jpg");
	background-color: #A8A99E;
	font-size: 16px;
	line-height: 1.5em;
 }
 footer {
    background-color: #A8A99E
 }