* {
	margin: 0px;
	padding: 0px;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
 }
 header {
    background-color: #A8A99E
 }
 h1 {
    outline: #33A4A6 solid 5px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 600px;
    margin: auto;  
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    color: #736F60;
 }

 nav{
   padding-bottom: 10px;
 }

 body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image: url("../img/bg-tile.jpg");
	background-color: #A8A99E;
	font-size: 16px;
	line-height: 1.5em;
   overflow: auto;
 }

 .row{
   display:grid;
   grid-template-columns:repeat(4,1fr);
   gap:20px;
 }
 
 .col{
   padding:20px;
   border:1px solid #c0c0c0;
   border-radius:2px;
 }

 /* Base */
 .col:nth-child(odd) {
   outline: #33A4A6 solid 3px;
 }
 .col p {
   color: #131313;
   margin: 0px;
   /*text-shadow: 1px 1px #000;*/
 }
 .fancy {
   display: none;
 }
 
 /* Max Width */
 @media screen and (max-width: 600px) {
   .row{
       grid-template-columns: 1fr;
   }
 }
 
 /* Ranged */
 @media screen and (max-width: 800px) and (min-width: 601px) {
   .row{
       grid-template-columns: repeat(2, 2fr);
   }
 }
 
 /* Min Width */
 @media screen and (min-width: 801px) {
   .row{
       grid-template-columns: repeat(4, 1fr);
   }
 }
 footer {
    background-color: #A8A99E
 }