body {
    margin: 10px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.about,
.education,
.activities,
.experience {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.education {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    background-color: #fff;
    color: #444;
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "header"
        "sidebar"
        "content"
        "footer";
}

.box {
    background-color: #444;
    color: rgb(163, 95, 95);
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}

.header,
.footer {
    background-color: #999;
}

.content {
    background-color: rgb(153, 81, 81);
    color: rgb(175, 175, 175);
}

.sidebar {
    background-color: #ccc;
    color: #444;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 400px) {
    .wrapper {
        grid-template-columns: 100% 1fr;
        grid-template-areas:
            "header   header"
            "sidebar  sidebar"
            "content  content"
            "footer   footer";
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        grid-gap: 10px;
        grid-template-columns: 30% 68% auto;
        grid-template-areas:
            "header  header  header"
            "sidebar content content"
            "footer  footer  footer";
    }
}