body {
    margin: 10px;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    background-color: #fff;
    color: #444;
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "header"
        "sidebar"
        "content"
        "footer";
}

@media only screen and (min-width: 400px) {
    .wrapper {
        grid-template-columns: 100% 1fr;
        grid-template-areas:
            "header   header"
            "content  content"
            "sidebar  sidebar"
            "footer   footer";
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        grid-gap: 10px;
        grid-template-columns: 65% auto;
        grid-template-areas:
            "header  header  header"
            "content content sidebar"
            "footer  footer  footer";
    }
}

.box {
    background-color: #444;
    color: rgb(163, 95, 95);
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}

.header,
.footer {
    background-color: #999;
}

.content {
    background-color: rgb(153, 81, 81);
    color: rgb(175, 175, 175);
}

.sidebar {
    background-color: #ccc;
    color: #444;
}